body,
html {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
#root {
  height: 100%;
}

.grid-component {
  overflow-x: hidden !important;
}

.scroll-wrapper {
  height: 100%;
}

.skeleton-wrapper {
  height: 200px;
  width: 300px;
  > span {
    display: block;
  }
}
.card-skelet {
  background: pink;
  width: 300px;
  height: 200px;
  padding: 20px 10px;

  > .loading-title {
    display: block;
    margin-top: 20px;
    width: 250px;
    height: 30px;
    background: #6d6e6e;
  }

  > .loading-image {
    margin: 20px;
    background: #6d6e6e;
    width: 100px;
    height: 100px;
  }
}
.grid-item {
  border: 1px solid #6d6e6e;
  border-left: unset;
  margin-bottom: 4px;

  > .card {
    padding: 8px;
    display: flex;
    justify-content: space-between;
  }
}

.card-title {
  color: #0d1729;
  margin: 10px 0;

  > span {
    margin-right: 5px;
  }
}

.card-image-wrapper {
  width: 100px;
  height: 100px;
  > .card-image {
    width: 100%;
  }
}

.card-characters-characterization {
  margin-bottom: 4px;
  > .card-species {
    margin: 4px 0;
    color: #4c5f81;
  }
}

@media (max-width: 720px) {
  .card-title {
    margin: 5px 0;
    font-size: 1em;
  }
  .card-characters-characterization > .card-species {
    margin: 1px 0;
    font-size: 12px;
  }
  .grid-item > .card {
    padding: 4px;
  }
}
